{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.highlighted: Items for the highlighted region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.footer_left: Items for the footer left region.
 * - page.footer: Items for the footer region.
 * - page.footer_right: Items for the footer right region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="main-wrapper">

  <header class="main-header" role="header">
    <div class="container-header container">
      {{ page.header }}

      <a class="hamburguer" href="#" menu-open>
        <span class="sr-only">Open menu</span>
      </a>
    </div>

    <div class="region region-full-menu" id="fullMenu">
      <div class="close" menu-close>
        <span class="sr-only">Close</span>
      </div>

      {{ page.toolbar }}

      <div class="region region-menu">
        <div class="container">
          <div class="search-box">
            <a href="#" class="open-search">Search</a>
          </div>
          <nav role="navigation" aria-labelledby="block-bbseg-main-menu-menu" id="block-bbseg-main-menu"
            class="contextual-region block block-menu navigation menu--main"
            data-block-plugin-id="system_menu_block:main">
            <ul class="menu">
              <li class="menu-item">
                <a href="#" class="open-sub-menu">Serviços</a>
              </li>
              <li class="menu-item">
                <a href="/previdencia">Eu tô seguro</a>
              </li>
            </ul>
          </nav>
          <a href="#" class="btn-yellow">Acionar seguro</a>
        </div>
      </div>
      <div class="region region-sub-menu">
        <div class="container">
          <ul class="sub-menu">
            <li>
              <a href="#">Seguros</a>
              <ul>
                <li><a href="#">Para você</a></li>
                <li><a href="#">Para seu negócio</a></li>
                <li><a href="#">Kit BB Seguros</a></li>
                <li><a href="#">Produtos descontinuados</a></li>
                <li><a href="#">Nosso blog</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Previdência</a>
              <ul>
                <li><a href="#">Simule agora</a></li>
                <li><a href="#">Calcule seu IR</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Capitalização
              </a>
              <ul>
                <li><a href="#">Para você</a></li>
                <li><a href="#">Para seu negócio</a></li>
                <li><a href="#">Produtos descontinuados</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Dental</a>
              <ul>
                <li><a href="#">Para você</a></li>
                <li><a href="#">Para seu negócio</a></li>
                <li><a href="#">Buscar rede credenciada</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Atendimento</a>
              <ul>
                <li><a href="#">Aviso de sinistro</a></li>
                <li><a href="#">Oficinas e postos de vistoria</a></li>
                <li><a href="#">Formulários</a></li>
                <li><a href="#">Upload de documentos</a></li>
                <li><a href="#">Prestadores de serviços</a></li>
                <li><a href="#">Fale conosco</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="modal-search">
      <a href="#" class="button-close"></a>
      <form class="form-search">
        <input type="text" placeholder="Do que você precisa?">
        <input type="submit">
      </form>
    </div>
  </header>

  <a href="#" class="hand">
    <span class="sr-only">Lorem, ipsum.</span>
  </a>

  <main role="main">
    {{ page.breadcrumb }}
    <a id="main-content" tabindex="-1"></a>
    <div id="fullpage">
      <div class="test">

      </div>
      {{ page.content }}

      <div class="sec-footer">
        <section id="section-footer" class="section">
          <div class="section-contact">
            <div class="image">
              <img src="/themes/custom/bbseg/images/img-contact.png">
            </div>
            <div class="infos">
              <h2 class="title">Fale com a gente.</h2>
              <p class="sub-title">Sobre o que você quer falar?</p>
              <ul class="menu">
                <li>
                  <a class="link-seguros" href="#">Seguros</a>
                </li>
                <li>
                  <a class="link-previdencia" href="#">Previdência</a>
                </li>
                <li>
                  <a class="link-capitalizacao" href="#">Capitalização</a>
                </li>
                <li>
                  <a class="link-dental" href="#">Dental</a>
                </li>
              </ul>
            </div>
          </div>
  
          {% if page.footer %}
          <footer class="main-footer" role="contentinfo">
            {{ page.footer }}
  
            <div class="container">
              <div class="col col-logo">
                <a href="/" title="Home" rel="home" class="site-logo">
                  <img src="/themes/custom/bbseg/images/logo.png" alt="Home">
                </a>
  
                <p class="text-tel">Atendimento BB Seguros <br />
                  <a href="#" class="btn-yellow">Fale com a gente</a></p>
              </div>
  
              <div class="col col-menu">
                <ul class="accordion-mob">
                  <li>
                    <strong>Seguros</strong>
                  </li>
                  <li><a href="#">Para você</a></li>
                  <li><a href="#">Para seu negócio</a></li>
                  <li><a href="#">Kit BB Seguros</a></li>
                  <li><a href="#">Produtos descontinuados</a></li>
                  <li><a href="#">Nosso blog</a></li>
                </ul>
              </div>
  
              <div class="col col-menu">
                <ul class="accordion-mob">
                  <li>
                    <strong>Previdência</strong>
                  </li>
                  <li><a href="#">Simule agora</a></li>
                  <li><a href="#">Calcule seu IR</a></li>
                </ul>
                <ul class="accordion-mob">
                  <li>
                    <strong>Capitalização</strong>
                  </li>
                  <li><a href="#">Para você</a></li>
                  <li><a href="#">Para seu negócio</a></li>
                  <li><a href="#">Produtos descontinuados</a></li>
                </ul>
  
              </div>
  
              <div class="col col-menu">
                <ul class="accordion-mob">
                  <li>
                    <strong>Dental</strong>
                  </li>
                  <li>
                    <a href="#">Para você</a>
                  </li>
                  <li>
                    <a href="#">Para sua empresa</a>
                  </li>
                  <li>
                    <a href="#">Rede credenciada</a>
                  </li>
                </ul>
                <ul class="accordion-mob">
                  <li>
                    <strong>Mapa do site</strong>
                  </li>
                </ul>
                <ul class="accordion-mob">
                  <li>
                    <strong>Quem somos</strong>
                  </li>
                </ul>
              </div>
  
              <div class="col col-menu">
                <ul class="accordion-mob">
                  <li>
                    <strong>Outros Serviços</strong>
                  </li>
                  <li><a href="#">Aviso de sinistro</a></li>
                  <li><a href="#">Oficinas e postos de vistoria</a></li>
                  <li><a href="#">Formulários</a></li>
                  <li><a href="#">Upload de documentos</a></li>
                  <li><a href="#">Prestadores de serviços</a></li>
                  <li><a href="#">Fale conosco</a></li>
                  <li><a href="#">Trabalhe conosco</a></li>
                  <li><a href="#">Imprensa</a></li>
                </ul>
              </div>
  
              <div class="col col-infos">
                <p class="text-tel">
                  Atendimento BB Seguros <br />
                  <a href="#" class="btn-yellow">Fale com a gente</a>
                </p>
  
                <div class="socials">
                  <ul>
                    <li><a class="facebook" href="#"><span class="sr-only">Facebook</span></a></li>
                    <li><a class="twitter" href="#"><span class="sr-only">Twitter</span></a></li>
                    <li><a class="instagram" href="#"><span class="sr-only">Instagram</span></a></li>
                    <li><a class="youtube" href="#"><span class="sr-only">Youtube</span></a></li>
                  </ul>
                </div>
  
                <div class="apps">
                  <ul>
                    <li><a class="google-play" href="#"><span class="sr-only">Disponível no Google Play</span></a></li>
                    <li><a class="app-store" href="#"><span class="sr-only">Baixar na App Store</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="texto-legal">
              <p>
                <strong>Automóvel</strong> - Produtos da Mapfre Seguros Gerais S/A – CNPJ 61.074.175/0001-38,
                comercializados pela BB Corretora de Seguros e Administradora de Bens S.A. – CNPJ 27.833.136/0001-39.
                Automóvel – Processo SUSEP 15414.901053/2013-88. Responsabilidade Civil Facultativa (RCF-V) – Processo
                SUSEP 15414.900139/2016-36. | Vida - Produtos da Companhia de Seguros Aliança do Brasil – CNPJ
                28.196.889/0001-43, comercializados pela BB Corretora de Seguros e Administradora de Bens S.A. – CNPJ
                27.833.136/0001-39. Processos SUSEP 15414.900079/2016-51 (BB Seguro Vida Completo) e 15414.900078/2016-15
                (BB Seguro Vida Mulher Mais). Os serviços de assistências são garantidos pela Companhia de Seguros Aliança
                do Brasil e prestados pela Brasil Assistência S.A. – CNPJ 68.181.221/0001-47. | Residencial – Produto da
                Aliança do Brasil Seguros S.A – CNPJ 01.378.407/0001-10 comercializado pela BB Corretora de Seguros e
                Administradora de Bens S.A. Processo SUSEP 15414.003.077/2009-93 e 15414.000532/2005-75. Serviços de
                assistência da residência são prestadas pela Brasil Assistência Ltda – CNPJ 68.181.221/0001-47. |
                Empresarial – Produto Da Aliança do Brasil Seguros S.A. – CNPJ 01.378.407/0001-10 comercializado pela BB
                Corretora de Seguros e Administradora de Bens S.A. Processo SUSEP 15414.004726/2004-69 e
                15414.003075/2009-02 CNPJ 01.378.407/0001-10. Serviço de assistência são prestadas pela Brasil Assistência
                Ltda – CNPJ: 68.181.221/0001-47. | Condomínio – Produto da Aliança do Brasil Seguros S.A. – CNPJ
                01.378.407/0001-10 comercializado pela BB Corretora de Seguros e Administradora de Bens S.A. Processo
                SUSEP 15414.003073/2009-13. | Riscos Diversos – Produto da Aliança do Brasil Seguros S.A. – CNPJ
                01.378.407/0001-10 comercializado pela BB Corretora de Seguros e Administradora de Bens S.A. Processo
                SUSEP 15414.004334/2011-29.
              </p>
            </div>
          </footer>
          {% endif %}
        </section>
      </div>
      
    </div>
  </main>
</div>

<div class="loading">
  <div class="animate">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
